<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Notice Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Noroff</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/notices-view">Show Notice Board</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/add-notice">Add An Entry</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Notice Board</h1>

<!--thymeleaf foreach loop that displays all entries-->
<div class="list-group" th:each="notice: ${notices}" style="display: flex; flex-direction: row;">
    <button type="button" style="min-width: 600px" class="list-group-item list-group-item-action">Title: <p th:text="${notice.noticeTitle}"></p>Author: <p th:text="${notice.username}"></p>Date: <p th:text="${notice.strDateNotice}"></p>
        </button>
    <button type="button" class="btn btn-light" th:onclick="'window.location.href = \'' + @{/view-notices/{id}(id=${notice.id})} + '\''">View</button>
    <button type="button" class="btn btn-light" th:onclick="'window.location.href = \'' + @{/edit-notices/{id}(id=${notice.id})} + '\''">Edit</button>
    <button type="button" class="btn btn-light" th:onclick="|deleteEntry('${notice.id}')|">Delete</button>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script>

    // function that deletes entry and reloads to start page, bad user experience..
    let deleteEntry = (id) => {
        document.location.reload(true);
        fetch("/notice/" + id, {
            method: "DELETE",
            headers: {
                content: "application/json"
            }
        })
    }
</script>
</html>

